<form  (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="Nombre">Nombre</label>
    <input type="text" id="name" name="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="Email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="Password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>
<hr>

<h1>ngStyles and ngClass</h1>
<!-- //both used with the same sintax [ngClass] as a propety defined
   and each property would be linked to a ngModel to get the value-->
<input type="text" [(ngModel)]="divHeight">
<input type="text" [(ngModel)]="divWidth">

<div [ngStyle]="{
    'height.px': divHeight,
    'width.px': divWidth,
    'backgroud-color': 'black'
  }">
hi
</div>
<hr>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="name" >
<p class="message-error" [class.invalid]="nameInput2.invalid" >El campo es requerido</p>

<h1>*ngSwitch</h1>
<div class="product-container">
  <div [ngSwitch]="name">
    <p *ngSwitchCase="'Nicolas'">Soy Nicolas</p>
    <p *ngSwitchCase="'Daniel'">Soy Daniel</p>
    <p *ngSwitchDefault>No coincide con ningun nombre</p>

  </div>
</div>

<hr>
<h1>*ngForObjs</h1>
<div class="product-container">
  <div *ngFor="let product of products; index as i" class="product-card">
    <img src={{product.image}} alt="Image">
    <p>Item name: {{product.name}}</p>
    <p>Price: {{product.price}}$</p>

  </div>
</div>
<hr>

<h1>*ngFor</h1>
<div>
  <input type="text" [(ngModel)]="newName" >
  <button (click)="submitInputValue()" >Add name</button>
</div>
<ul>
  <li *ngFor="let n of names; index as i">
    {{i+1}} {{n}}
    <button (click)="deletePerson(i)">Delete</button>
  </li>
</ul>
<hr>
<h1>*ngIF</h1>
<p *ngIf="name === 'Esteban'">Soy Esteban</p>
<p *ngIf="name === 'Julian'">Soy Julian</p>

<hr>


<h1>Ng model</h1>
<p>Nombre {{name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="name" >
<p>Valid : {{nameInput.valid}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="gustavo.age" >
<p>Age Valid {{ageInput.valid}}</p>
<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButon()">Toggle Button</button>
<p>Apellido de gustavo dinamico {{gustavo.lastName}}</p>
<p>Edad {{gustavo.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque dolorem tempore explicabo porro! Optio sequi laborum nesciunt corporis esse aut eius animi officia recusandae. Non ea nihil adipisci asperiores. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque dolorem tempore explicabo porro! Optio sequi laborum nesciunt corporis esse aut eius animi officia recusandae. Non ea nihil adipisci asperiores.</p>
</div>
<input type="text" (keyup)="changeName($event)">
<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<hr>
<h1>Hola mundo</h1>
<h2>{{"Hola mundo ".repeat(5)}}</h2>
<p> 3 + 3 = {{3+3}}</p>
<h3>Hola soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="image">
